:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: auto;
  /* max-width: 1200px; */
  min-height: 100vh;
  padding: 0px 10px;
  background-color: rgba(213, 245, 251, 1);
  background-image: radial-gradient(
      at 46% 33%,
      rgba(178, 247, 239, 0.53) 0%,
      transparent 50%
    ),
    radial-gradient(at 42% 83%, rgba(239, 247, 246, 1) 0%, transparent 35%),
    radial-gradient(at 33% 31%, rgba(239, 247, 246, 1) 0%, transparent 50%),
    radial-gradient(at 10% 64%, rgba(247, 214, 224, 0.64) 0%, transparent 54%),
    radial-gradient(at 87% 72%, rgba(242, 181, 212, 0.29) 0%, transparent 39%),
    radial-gradient(at 85% 12%, rgba(239, 247, 246, 1) 0%, transparent 50%);
}

* {
  padding: 0;
  margin: 0;
  color: #112348;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}
